html {
    height: 100vh;
}

body {
    background-color: #F9E8D1;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 15%;
}

.whole-container {
    height: 65%;
    width: 90%;
    display: flex;
    border: 5px solid black;
    flex-direction: column;
    position: relative;
}

/*Top*/
.top {
    background-color:aliceblue;
    /*flex*/
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    /*padding and gap*/
    padding-top: 5%;
    gap: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

.top-buttons {
    display: flex;
    flex-direction: row;
}

p {
    border: 1px solid rgba(78, 78, 78, 0.5);
    border-radius: 10%;
}

.day, .month, .year {
    flex-grow: 1;
}

/*Bottom*/
.bottom {
    background-color:aliceblue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    border-bottom-right-radius: 150px;
    padding-left: 5%;
    font-weight: 800;
    font-style: italic;
}

.button-years, .button-months, .button-days {
    font-size: 300%;
}



/*arrow-container*/

.arrow-container {
    background-color:aliceblue;
    display: flex;
    justify-content: center;
}

.arrow {
    background-color: purple;
}