body {
    background-color: #F9E8D1;
    font-family: "Poppins", sans-serif;
    padding: 0%;
    margin: 0%;
}

.whole-container {
    height: auto;
    width: auto;
    transform: scale(0.7, 1);
}

/*Top*/
.top {
    background-color:aliceblue;
    display: flex;
    justify-content: flex-start;
    padding-top: 5%;
    gap: 10%;
    padding-right: 20%;
    padding-left: 5%;
}

p {
    border: 1px solid rgba(78, 78, 78, 0.5);
    border-radius: 10%;
}

.day, .month, .year {
    flex-grow: 1;
}

/*Bottom*/
.bottom {
    background-color:aliceblue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5%;
    font-weight: 800;
    font-style: normal;
    border-bottom-right-radius: 150px;
}

.button-years, .button-months, .button-days {
    font-size: 300%;
}

/*arrow-container*/

.arrow-container {
    background-color:aliceblue;
}