html {
    height: 100vh;
}

body {
    background-color: #F9E8D1;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 15%;
}

.whole-container {
    height: 75%;
    width: 90%;
    display: flex;
    flex-direction: column;
}

/*Top*/
.top {
    background-color:aliceblue;
    /*flex*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*padding and gap*/
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    height: 40%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

/*Top inputs*/
.top-buttons {
    display: flex;
    flex-direction: row;
    padding-top: 0%;
    flex-basis: auto;
    gap: 5%;
    height: 60%;
}

.top-buttons input {
    border: 1px solid rgba(0, 0, 0, 0.5);
    /*padding: 2rem 1.5rem;*/
    font-size: 2rem;
    width: 100%;
    height: auto;
    font-size: 3rem;
    border-radius: 0.7rem;
}

   /* Remove spinner controls in Chrome, Edge, and Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

   /* Remove spinner controls in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.day, .month, .year {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

p{
    width: fit-content;
    font-weight: 500;
    font-style: normal;
    opacity: 0.6;
}

form {
    display: flex;
}

/*Bottom*/
.bottom {
    background-color:aliceblue;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 2rem;
    padding-left: 5%;
    /*font*/
    font-weight: 800;
    font-style: italic;
    height: 60%;
}

.button-years, .button-months, .button-days {
    font-size: 500%;
}

/*arrow-container*/

.arrow-container {
    display: flex;
    justify-content: center;
}

.arrow-background {
    background-color: blueviolet;
    border-radius: 50%;
    padding: 2%;
    cursor: pointer;
    z-index: 1;
    justify-content: center;
}

.line {
    background-color: grey;
    height: 1px;
    width: 100%;
    position: relative;
    align-items: center;
    z-index: 0;
    top: 15%;
}

#arrow-button {
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    border: none;
}